.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  padding: 0;
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }
} 